th{
   
    text-align: center;
    height: 2rem;
    font-size:x-large;
}

h1{
    text-decoration:underline;
    text-align: center;
    margin-top: 1%;
}
td{
    text-align: center;
}
table{
    box-shadow:0 3px 10px  rgb(135, 158, 251);
}

